# Virtual environment
Edi-3/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Misc / non-project files
_misc/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

